web/WEB-INF/wsdl/localhost_8084/eWeather_web_service_SOAP/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.soap.ws.mycompany.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.soap.ws.mycompany.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://server.soap.ws.mycompany.org/" schemaLocation="http://localhost:8084/eWeather_web_service_SOAP/GeoMeteoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllAddress">
<part name="parameters" element="tns:getAllAddress"/>
</message>
<message name="getAllAddressResponse">
<part name="parameters" element="tns:getAllAddressResponse"/>
</message>
<message name="getAllMeteodataForAddress">
<part name="parameters" element="tns:getAllMeteodataForAddress"/>
</message>
<message name="getAllMeteodataForAddressResponse">
<part name="parameters" element="tns:getAllMeteodataForAddressResponse"/>
</message>
<message name="getLastMeteodataForAddress">
<part name="parameters" element="tns:getLastMeteodataForAddress"/>
</message>
<message name="getLastMeteodataForAddressResponse">
<part name="parameters" element="tns:getLastMeteodataForAddressResponse"/>
</message>
<message name="getLastNMeteodataForAddress">
<part name="parameters" element="tns:getLastNMeteodataForAddress"/>
</message>
<message name="getLastNMeteodataForAddressResponse">
<part name="parameters" element="tns:getLastNMeteodataForAddressResponse"/>
</message>
<message name="getAllMeteodataForAddressInInterval">
<part name="parameters" element="tns:getAllMeteodataForAddressInInterval"/>
</message>
<message name="getAllMeteodataForAddressInIntervalResponse">
<part name="parameters" element="tns:getAllMeteodataForAddressInIntervalResponse"/>
</message>
<portType name="GeoMeteoWS">
<operation name="getAllAddress">
<input wsam:Action="http://server.soap.ws.mycompany.org/GeoMeteoWS/getAllAddressRequest" message="tns:getAllAddress"/>
<output wsam:Action="http://server.soap.ws.mycompany.org/GeoMeteoWS/getAllAddressResponse" message="tns:getAllAddressResponse"/>
</operation>
<operation name="getAllMeteodataForAddress">
<input wsam:Action="http://server.soap.ws.mycompany.org/GeoMeteoWS/getAllMeteodataForAddressRequest" message="tns:getAllMeteodataForAddress"/>
<output wsam:Action="http://server.soap.ws.mycompany.org/GeoMeteoWS/getAllMeteodataForAddressResponse" message="tns:getAllMeteodataForAddressResponse"/>
</operation>
<operation name="getLastMeteodataForAddress">
<input wsam:Action="http://server.soap.ws.mycompany.org/GeoMeteoWS/getLastMeteodataForAddressRequest" message="tns:getLastMeteodataForAddress"/>
<output wsam:Action="http://server.soap.ws.mycompany.org/GeoMeteoWS/getLastMeteodataForAddressResponse" message="tns:getLastMeteodataForAddressResponse"/>
</operation>
<operation name="getLastNMeteodataForAddress">
<input wsam:Action="http://server.soap.ws.mycompany.org/GeoMeteoWS/getLastNMeteodataForAddressRequest" message="tns:getLastNMeteodataForAddress"/>
<output wsam:Action="http://server.soap.ws.mycompany.org/GeoMeteoWS/getLastNMeteodataForAddressResponse" message="tns:getLastNMeteodataForAddressResponse"/>
</operation>
<operation name="getAllMeteodataForAddressInInterval">
<input wsam:Action="http://server.soap.ws.mycompany.org/GeoMeteoWS/getAllMeteodataForAddressInIntervalRequest" message="tns:getAllMeteodataForAddressInInterval"/>
<output wsam:Action="http://server.soap.ws.mycompany.org/GeoMeteoWS/getAllMeteodataForAddressInIntervalResponse" message="tns:getAllMeteodataForAddressInIntervalResponse"/>
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMeteodataForAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastMeteodataForAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastNMeteodataForAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMeteodataForAddressInInterval">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8084/eWeather_web_service_SOAP/GeoMeteoWS"/>
</port>
</service>
</definitions>