web/WEB-INF/wsdl/localhost_8084/eWeather_web_service_SOAP/GeoMeteoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://server.soap.ws.mycompany.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.soap.ws.mycompany.org/">

<xs:element name="getAllAddress" type="tns:getAllAddress"/>

<xs:element name="getAllAddressResponse" type="tns:getAllAddressResponse"/>

<xs:element name="getAllMeteodataForAddress" type="tns:getAllMeteodataForAddress"/>

<xs:element name="getAllMeteodataForAddressInInterval" type="tns:getAllMeteodataForAddressInInterval"/>

<xs:element name="getAllMeteodataForAddressInIntervalResponse" type="tns:getAllMeteodataForAddressInIntervalResponse"/>

<xs:element name="getAllMeteodataForAddressResponse" type="tns:getAllMeteodataForAddressResponse"/>

<xs:element name="getLastMeteodataForAddress" type="tns:getLastMeteodataForAddress"/>

<xs:element name="getLastMeteodataForAddressResponse" type="tns:getLastMeteodataForAddressResponse"/>

<xs:element name="getLastNMeteodataForAddress" type="tns:getLastNMeteodataForAddress"/>

<xs:element name="getLastNMeteodataForAddressResponse" type="tns:getLastNMeteodataForAddressResponse"/>

<xs:complexType name="getAllMeteodataForAddressInInterval">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="from" type="xs:string" minOccurs="0"/>
<xs:element name="to" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllMeteodataForAddressInIntervalResponse">
<xs:sequence>
<xs:element name="return" type="tns:weatherData" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="weatherData">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="altimeter" type="xs:float" minOccurs="0"/>
<xs:element name="altimeterRate" type="xs:float" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="dewPoint" type="xs:float" minOccurs="0"/>
<xs:element name="dewPointRate" type="xs:float" minOccurs="0"/>
<xs:element name="feelsLike" type="xs:float" minOccurs="0"/>
<xs:element name="heatIndex" type="xs:float" minOccurs="0"/>
<xs:element name="humidity" type="xs:float" minOccurs="0"/>
<xs:element name="humidityRate" type="xs:float" minOccurs="0"/>
<xs:element name="iconCode" type="xs:string" minOccurs="0"/>
<xs:element name="key" type="xs:string" minOccurs="0"/>
<xs:element name="observationTimeAdjustedLocal" type="xs:dateTime" minOccurs="0"/>
<xs:element name="observationTimeAdjustedLocalStr" type="xs:string" minOccurs="0"/>
<xs:element name="observationTimeLocal" type="xs:dateTime" minOccurs="0"/>
<xs:element name="observationTimeLocalStr" type="xs:string" minOccurs="0"/>
<xs:element name="observationTimeUtc" type="xs:dateTime" minOccurs="0"/>
<xs:element name="observationTimeUtcStr" type="xs:string" minOccurs="0"/>
<xs:element name="pressureSeaLevel" type="xs:float" minOccurs="0"/>
<xs:element name="pressureSeaLevelRate" type="xs:float" minOccurs="0"/>
<xs:element name="providerId" type="xs:int"/>
<xs:element name="rainDaily" type="xs:float" minOccurs="0"/>
<xs:element name="rainMonthly" type="xs:float" minOccurs="0"/>
<xs:element name="rainRate" type="xs:float" minOccurs="0"/>
<xs:element name="rainYearly" type="xs:float" minOccurs="0"/>
<xs:element name="snowDaily" type="xs:float" minOccurs="0"/>
<xs:element name="snowMonthly" type="xs:float" minOccurs="0"/>
<xs:element name="snowRate" type="xs:float" minOccurs="0"/>
<xs:element name="snowYearly" type="xs:float" minOccurs="0"/>
<xs:element name="stationId" type="xs:string" minOccurs="0"/>
<xs:element name="temperature" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureRate" type="xs:float" minOccurs="0"/>
<xs:element name="visibility" type="xs:float" minOccurs="0"/>
<xs:element name="visibilityRate" type="xs:float" minOccurs="0"/>
<xs:element name="windChill" type="xs:float" minOccurs="0"/>
<xs:element name="windDirection" type="xs:float" minOccurs="0"/>
<xs:element name="windDirectionAvg" type="xs:float" minOccurs="0"/>
<xs:element name="windGustDaily" type="xs:float" minOccurs="0"/>
<xs:element name="windGustDirectionDaily" type="xs:float" minOccurs="0"/>
<xs:element name="windGustDirectionHourly" type="xs:float" minOccurs="0"/>
<xs:element name="windGustHourly" type="xs:float" minOccurs="0"/>
<xs:element name="windGustTimeLocalDaily" type="xs:dateTime" minOccurs="0"/>
<xs:element name="windGustTimeLocalDailyStr" type="xs:string" minOccurs="0"/>
<xs:element name="windGustTimeLocalHourly" type="xs:dateTime" minOccurs="0"/>
<xs:element name="windGustTimeLocalHourlyStr" type="xs:string" minOccurs="0"/>
<xs:element name="windGustTimeUtcDaily" type="xs:dateTime" minOccurs="0"/>
<xs:element name="windGustTimeUtcDailyStr" type="xs:string" minOccurs="0"/>
<xs:element name="windGustTimeUtcHourly" type="xs:dateTime" minOccurs="0"/>
<xs:element name="windGustTimeUtcHourlyStr" type="xs:string" minOccurs="0"/>
<xs:element name="windSpeed" type="xs:float" minOccurs="0"/>
<xs:element name="windSpeedAvg" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastNMeteodataForAddress">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="N" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastNMeteodataForAddressResponse">
<xs:sequence>
<xs:element name="return" type="tns:weatherData" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllAddress">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllAddressResponse">
<xs:sequence>
<xs:element name="return" type="tns:address" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="adresa" type="xs:string" minOccurs="0"/>
<xs:element name="geoloc" type="tns:location" minOccurs="0"/>
<xs:element name="idadresa" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="location">
<xs:sequence>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastMeteodataForAddress">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastMeteodataForAddressResponse">
<xs:sequence>
<xs:element name="return" type="tns:weatherData" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllMeteodataForAddress">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllMeteodataForAddressResponse">
<xs:sequence>
<xs:element name="return" type="tns:weatherData" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>